:root {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
   text-align: center;
}

.center {
box-sizing: content-box;
margin-inline: auto;
max-inline-size: 84ch;
}

.block-editor {
   padding: 4px;
   border: black 2px dotted;
   border-radius: 4px;
}